@tailwind base;
@tailwind components;
@tailwind utilities;
.body {
  background: linear-gradient(to right, white, #c9d6ff);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  padding: 0px;
}
.welcomepage {
  background: linear-gradient(to right, #6e7ed6, #512da8);
  color: #fff;
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}
.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}
.container span {
  font-size: 12px;
}
.container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 10px 10px 0;
}
.welcomepage button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 10px;
  cursor: pointer;
}

.signin {
  padding: 20px;
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.signin button {
  background-color: #6438cc;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 10px;
  cursor: pointer;
}
.inputbody {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: start;
}
.inputbody .input-data {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 20px;
}

.inputbody .input-data input {
  height: 30px;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.inputbody .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.social-icon {
  margin: 20px 0;
}
.social-icon a {
  border: 1px solid #ccc;
  color: #0a8537;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.otp {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 30px;
}
.otp h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

.otp .stateButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.otp .otpbody {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.otpbody p {
  margin-left: 7px;
}
.otpbody .passwordbody {
  text-align: justify;
  align-items: start;
  margin-left: -13px;
}
.otpbody .btn-sm {
  width: 100px;
  font-weight: 600;
}

.stateButtons button {
  width: 130px;
  height: 40px;
}
.password {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 30px;
}
.password h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
  text-align: left;
  align-items: start;
}
.password .passwordbody {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: start;
}
.password button {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 40px;
  width: 180px;
  border: none;
  background-color: #6e7ed6;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.passwordbody .input-data {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 20px;
}
.passwordbody .input-data input {
  height: 30px;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.input-data input:valid ~ label,
.input-data input:focus ~ label {
  transform: translateY(-20px);
  font-size: 13px;
  color: #4158d0;
}

.passwordbody .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.DiseaseDetection {
  width: 100%;
  height: 100%;
  background-color: #010419;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.Navbar {
  color: #fff;
}
.navbar {
  padding: 15px;
}
.nav-item {
  margin-right: 30px;
  color: #fff;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
  margin-right: 100px;
}
.navbar-brand {
  color: #fff;
  font-weight: 600;
}
.navbar-brand i {
  color: rgb(114, 220, 114);
  font-size: 30px;
  margin: 0 10px 0 0px;
}
.nav-link {
  color: #fff;
}
.navbarbutton {
  border: none;
  background-color: transparent;
  color: white;
}
.detectionbody {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #0a8537;
}
.selectfile {
  background-color: rgba(28, 17, 41, 0.35);
  color: #fff;
  padding: 20px;
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: solid rgba(60, 59, 59, 0.35);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.inputfile {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 200px;
}
.inputfile input {
  display: none;
}
.inputfile label {
  color: white;
  height: 40px;
  width: 160px;
  background-color: #0a8537;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.selectfile h1 {
  margin-bottom: 30px;
}

.result {
  padding: 20px;
  color: #fff;
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(28, 17, 41, 0.35);
  border: solid rgba(60, 59, 59, 0.35);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.result h1 {
  margin-bottom: 20px;
}
.predictedResult {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.inputfile button {
  color: white;
  height: 40px;
  width: 160px;
  background-color: #0a8537;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
  margin-top: 30px;
}
.predictedResult img {
  width: 150px;
  height: 150px;
}
.form-control {
  width: 50px;
  display: flex;
}

.diseaseDetectionBGImage {
  background-image: url("./Components/Disease-Detection/grape.avif");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  object-position: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.diseaseDetectionBGImage .diseaseDetectionHeadder {
  font-size: 50px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  margin-top: 60px;
}
.diseaseDetectionBGImage button {
  height: 40px;
  width: 150px;
  background-color: #64eb96;
  color: #000;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  font-weight: 700;
}
.diseaseDetectionBGImage .HowItWorks {
  background: linear-gradient(to bottom, rgb(46, 83, 38), rgb(66, 151, 66));
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.diseaseDetectionBGImage .HowItWorks span {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.HowItWorks .steps {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  flex-wrap: wrap;
}
.HowItWorks .steps .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.HowItWorks .steps .step i {
  margin-bottom: 20px;
  font-size: 40px;
}
.stepnumber {
  background-color: white;
  width: 23px;
  height: 23px;
  color: #000;
  border-radius: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.HowItWorks .steps .step .stepHead {
  font-size: 20px;
}
.HowItWorks .steps .step .stepdescription {
  font-size: 14px;
}

.diseaseDetectioncontainer {
  padding: 30px;
  background-color: #010419;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.landingpage {
  width: 100%;
  min-height: 100vh;
}
.landingpagecontainer {
  width: 100%;
  min-height: 100vh;
  background-image: url("./Components/LandingPage/bg2.avif");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: fill;
  background-size: cover;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}
.landingpagecontainer .welcomecontent {
  width: 50%;
  color: white;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.weathercontent {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weathercard {
  width: 90%;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0px 0px 20px #000;
}
.searchicon {
  background-color: #fff;
  width: 85px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.searchicon i {
  color: #000;
}
.weathercard .search {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}
.weathercard .search input {
  border: none;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 40px;
  border-radius: 20px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.weather .weather-icon {
  width: 70px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 50px;
  font-weight: 500;
}
.weather h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: -10px;
}
.detail {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  padding: 0 20px;
}

.detail .col {
  display: flex;
  align-items: center;
  text-align: left;
}
.detail .col img {
  width: 40px;
  margin-right: 10px;
}
.detail .col .humidity,
.wind {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 500;
}
.welcomecontent h1 {
  text-align: center;
  align-items: center;
}
.welcomecontent p {
  margin-top: 20px;
  text-align: left;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  word-spacing: 2px;
  font-weight: 600;
  color: #f7fafa;
  font-size: 19px;
}
.welcomecontent button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 10px 10px 10px #000;
  background-color: #f6f4f9;
  color: #000;
  font-weight: 600;
}

.post {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.issueFooter a button {
  border: none;
  width: 150px;
  height: 40px;
  margin: 10px;
  color: white;
  background-color: rgb(149, 88, 230);
  box-shadow: 5px 5px 10px #000;
}
.issueFooter {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  align-items: center;
  text-align: center;
}
.footerserachbar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.footersearch {
  margin: 5px 5px 0 0;
  height: 40px;
  border-color: #cba6a6;
  border: 1px solid;
  border-radius: 5px;
}
.footerserachbar button {
  height: 43px;
  background-color: #9a66dd;
  color: #fff;
  width: 43px;
  border: none;
  border-radius: 30px;
}
.issueBody {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.issueBody .card {
  margin: 30px;
  box-shadow: 0px 0px 20px #1b550f;
}
.cardimage {
  overflow-y: hidden;
  width: 18rem;
  height: 12rem;
}
.cardfooter {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.desc {
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}
.desc p {
  color: #4158d0;
}
.cardDetail {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.detailcard {
  background-color: rgba(29, 11, 57, 0.8);
  box-shadow: 0 0 10px #514e4e;
  padding: 30px;
  display: flex;
  flex-direction: column;
  color: rgb(214, 190, 190);
  border: none;
  max-width: 40%;
  min-width: 500px;
}
.detailcardHeading {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  color: white;
}
.detailcarddescription {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.subhead {
  color: white;
}
.createpost {
  background-color: white;
  color: #000;
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: left;
  width: 600px;
  min-height: 450px;
  flex-direction: column;
  padding: 20px 40px 20px 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px #000;
}
.postSolution {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.postheading {
  color: #0d0825;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
  text-shadow: 0px 0px 5px #cebfbf;
  text-align: center;
}
.createpost .input-data {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.createpost .input-data input {
  height: 30px;
  width: 50%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  margin-left: -10px;
}
.createpost .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: rgb(11, 11, 11);
  pointer-events: none;
  transition: all 0.3s ease;
}
.createpost .input-data input {
  bottom: 10px;
}
.createpost button {
  width: 150px;
  margin: 20px 0 20px 0;
}
.createpost textarea {
  margin-left: 10px;
  border-radius: 8px;
  color: silver;
  width: 90%;
}
.createpost i {
  color: #7bc758;
  margin: 35px 0 43px 0;
}

.approvebttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --yellow: #ffbd13;
  --blue: #4383ff;
  --blue-d-1: #3278ff;
  --light: #f5f5f5;
  --grey: #aaa;
  --white: #fff;
  --shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
}

.ratingsection {
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.wrapper {
  background: var(--white);
  padding: 2rem;
  max-width: 576px;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: var(--shadow);
  text-align: center;
}
.wrapper h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 2rem;
  color: var(--yellow);
  margin-bottom: 2rem;
}
.rating .star {
  cursor: pointer;
}
.rating .star.active {
  opacity: 0;
  animation: animate 0.5s calc(var(--i) * 0.1s) ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating .star:hover {
  transform: scale(1.1);
}
textarea {
  width: 100%;
  background: var(--light);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: 0.5rem;
}
.btn-group {
  display: flex;
  grid-gap: 0.5rem;
  align-items: center;
}
.btn-group .btn {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
}
.btn-group .btn.submit {
  background: var(--blue);
  color: var(--white);
}
.btn-group .btn.submit:hover {
  background: var(--blue-d-1);
}
.btn-group .btn.cancel {
  background: var(--white);
  color: var(--blue);
}
.btn-group .btn.cancel:hover {
  background: var(--light);
}

@media screen and (max-width: 600px) {
  .body {
    padding: 10px;
  }
  .container {
    flex-direction: column;
  }
  .welcomepage {
    width: 100%;
  }
  .signin {
    width: 100%;
  }
  .diseaseDetectionBGImage .diseaseDetectionHeadder {
    font-size: 30px;
  }
  .diseaseDetectioncontainer {
    flex-direction: column;
  }
  .result {
    width: 90%;
  }
  .selectfile {
    width: 90%;
  }
  .landingpagecontainer {
    flex-direction: column;
  }
  .landingpagecontainer .welcomecontent {
    width: 90%;
    color: white;
    margin-bottom: 20px;
  }
  .weathercard .search {
    flex-direction: column;
  }
  .searchicon {
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }
  .issueBody {
    padding: 0px;
  }
  .issueBody .card {
    margin: 10px;
  }
  .issueFooter {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .createpost i {
    margin-top: 20px;
    text-align: left;
    align-items: start;
    justify-content: left;
    display: flex;
  }
  .createpost {
    max-width: 550px;
    min-width: 300px;
  }
  .createpost i {
    margin: 35px 0 0px 0;
  }
}

@media screen and (max-width: 769px) and (min-width: 425px) {
  .diseaseDetectionBGImage .diseaseDetectionHeadder {
    font-size: 38px;
  }
  .diseaseDetectioncontainer {
    flex-direction: column;
  }
  .result {
    width: 80%;
  }
  .selectfile {
    width: 80%;
  }
  .landingpagecontainer {
    flex-direction: column;
  }
  .landingpagecontainer .welcomecontent {
    width: 90%;
    color: white;
    margin-bottom: 20px;
  }
}
